<?xml version="1.0"?>

<config>
    <modules>
        <AfonsoWilsson_AWCheckout>
            <version>1.0.0</version>
        </AfonsoWilsson_AWCheckout>
    </modules>
    <frontend>
        <layout>
            <updates>
                <onepagecheckout>
                    <file>awcheckout.xml</file>
                </onepagecheckout>
            </updates>
        </layout>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <AfonsoWilsson_AWCheckout before="Mage_Checkout">AfonsoWilsson_AWCheckout_Checkout</AfonsoWilsson_AWCheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>
